:root {
  --color-black: #000;
  --color-white: #F7F0FF;
  --color-primary: #7D07E4;
  --color-secondary: #8B0457;
  --color-primary-dark: #0D0117;
  --color-secondary-dark: #4A0335;
  --color-accent-gray: #272727;
  --color-accent-red: #C1063E;
}

html, body {
  background: var(--color-black);
}

* {
  color: var(--color-white);
  font-family: "Urbanist";
}
